.turnto-backoffice-plugin{
    height: 100%;
    overflow: auto;
}
.main-container {
    margin: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border: cyan solid 2px;
    background-color: whitesmoke;
    font-size: medium;
}

.main-container .content-vlayout {
    margin-bottom: 15px;
}

.main-container .z-label {
    font-size: 13px;
}

.main-container input[type="checkbox"] {
    margin-bottom: 0;
    vertical-align: text-bottom;
}

.main-container select {
    background-color: #fffbff;
}

.main-container select[disabled] {
    color: #797474;
    background-color: #D4D0D0;
}

.main-container .caching-time {
    line-height: 0;
    min-height: 0;
}

.main-container .site-key {
    line-height: 0;
    min-height: 0;
}

.main-container .z-hlayout-inner{
    vertical-align: inherit;
}

.main-container .header-2 .z-label {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}
.main-container .header-4 .z-label {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

.main-container .header-2,.header-4 {
     margin-bottom: 10px;
}

.button-custom {
    border-radius: 2px;
}
