.main-container {
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border: cyan solid 2px;
    background-color: whitesmoke;
    font-size: medium;
}

.main-container .content-vlayout {
    margin-bottom: 15px;
}

.main-container .z-label {
    font-size: 15px;
}

.main-container input[type="checkbox"] {
    margin-bottom: 0;
    vertical-align: text-bottom;
}

.main-container select {
    background-color: #fffbff;
}

.main-container select[disabled] {
    color: #797474;
    background-color: #D4D0D0;
}

.main-container .caching-time {
    line-height: 0;
    min-height: 0;
}

.main-container .site-key {
    line-height: 0;
    min-height: 0;
}

.main-container .z-hlayout-inner{
    vertical-align: inherit;
}

.button-custom {
    border-radius: 2px;
}
